<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashboard</title>
<style>
  body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.dashboard-menu {
  background-color: #333;
  color: #fff;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tabs ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.tabs ul li {
  display: inline-block;
  margin-right: 20px;
}

.tabs ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
}

.tabs ul li a:hover {
  text-decoration: underline;
}

.logout-btn {
  background-color: #fd4531;
  color: #fff;
  border: none;
  padding: 2.5px 10px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 15px;
}

.logout-btn:hover {
  background-color: #a93226;
}
#role{
  background-color: #c09fff;
  color: black;
  border: none;
  padding: 1.5px 5px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 10px;
  margin-left: 3px;
}

  </style>
</head>
<body>
  <%- include('navbar.ejs') %>
  <div class="dashboard-menu">
    <div>
      <span>Welcome, <strong><%=name%></strong></span>
      <span id="role"><strong><%=role%></strong></span>
    </div>
    <form action="/logout" method="POST">
      <button type="submit" class="logout-btn">Logout</button>
    </form>
  </div>
  <!-- Main content goes here -->
</body>
</html>
