<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Student proctoring system</title>
  <style>
    body {
      margin: 0;
      font-family: monsterrat, sans-serif;
      background-image: linear-gradient(120deg, #dce8fa 0%, #c9e7f5 100%);
    }
      .navbar {
      background-color: darkslategray;
      text-align: center;
      padding: 10px;
      color: white;
      padding-bottom: 30px;
      padding-top: 20px;
      font-size: 25px;
      font-weight: 550;
      line-height: 30px;
    }
    .name{
        padding:5px;
        font-size: 25px;
        padding: 25px;
        background-color: rgb(177, 168, 255);
        color:black;
        font-weight: bolder;
        
    }
    .label{
        border: 2px solid black;
        background-color: rgb(224, 151, 56);
        color: black;
        border-radius: 10px;
        width: 80px;
        margin-left: 5px;
        font-size: 20px;
        text-align: center;
        margin-top: 15px;
        font-weight: normal;
    }
 </style>
 </head>
 <body>
    <div class="navbar">
        <div>BVVS Sangha's</div>
        <div>Basaveshwar Engineering College (Autonomous) Bagalkot </div>
      </div>
      <div class="name"><%=faculty%>
        <div class='label'>Student</div></div>
      
 </body>